.rounded-circle {
  width: 40px; /* ปรับขนาดความกว้าง */
  height: 40px; /* ปรับขนาดความสูง */
  max-height: 40px;
}
.rounded-circle2 {
  width: 30px; /* ปรับขนาดความกว้าง */
  height: 30px; /* ปรับขนาดความสูง */
  max-height: 30px;
}
